{% extends 'base.html.twig' %}
{% block title %}Pàgina principal{% endblock %}
{% block stylesheets %}
      
          <link rel="stylesheet" href="{{ asset('estils/estilsInici.css') }}" />
{% endblock %}

{% block body %}
<h1 id="titolInici">Projecte Symfony Equips 2n DAW</h1>
<p id="paragrafInici">Inici programa gestio d'equips 2n de DAW: Josep Albert Tortosa Peris <br>
<img class="imatgeInici" src="{{ asset('Impact/assets/img/about-2.jpg') }}" onclick="window.location='{{ path('dades_equip', {'codi': 1}) }}'">

{% endblock %}